language: python

python:
      - "2.7"
      - "3.4"
      - "3.5"
      - "3.6"

# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
matrix:
  include:
    - python: "3.7"
      dist: xenial
      sudo: true

before_install:
    - "pip install -U 'pip<19'"
install:
    - "pip install -U --upgrade-strategy eager --editable .[dev]"
    - "pip install coveralls"
script:
    - "pytest -v  --cov-report= --cov=orbit_predictor tests/"
after_script:
    - "flake8 orbit_predictor"

# report coverage to coveralls.io
after_success:
    - coveralls

cache:
  apt: true
  pip: true
