language: python

python:
      - "3.4"
      - "3.5"
      - "3.6"
      - "3.7"
      - "3.8"

before_install:
    - "pip install -U pip"
install:
    - "pip install -U --upgrade-strategy eager --prefer-binary --editable .[dev]"
    - "pip install coveralls"
script:
    - "pytest --cov-report= --cov=orbit_predictor tests/ -k sun_sync_delta_true_anomaly_has_expected_anomaly_and_epoch -vvvv"
after_script:
    - "flake8 orbit_predictor"

# report coverage to coveralls.io
after_success:
    - coveralls

cache:
  apt: true
  pip: true
